@media (max-width: 600px) {
  .header {
    &__phone {
    font-size: 12px;
    }
  }
  .button_call {
    width: 100px;
    height: 20px;
    font-size: 8px;
    &_main {
      margin-top: 67px;
      width: 200px;
      height: 35px;
      font-size: 12px;
    }
  }
}

@media (max-width: 490px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .promo {
    &__wrapper {
        margin-top: 20px;
    }
    &__header {
        font-size: 28px;
        margin: 0 auto;
    }
    &__subheader {
        margin-top: 12px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        margin: 0 auto;
    }
    &__icons {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    &__icon {
      margin-top: 20px;
      margin: 0 auto;
    }
    &__link {
      margin: 0 auto;
    }
  }
  
  .button_main {
    margin: 0 auto;
    margin-top: 20px;
  }
  .advantages {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
  }

}